<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%= content %></p>
<br>
<h1>📧 Email</h1>
<p>For inquiries or collaboration opportunities, drop us an email at rkumaradaikkan@gmail.com. We strive to respond promptly and look forward to connecting with you.</p>
<br>

<h1>📱 Social Media</h1>
<p>Connect with me on linkedin for any collaboration or freelance, and a more casual interaction. Follow me on <a href="www.linkedin.com/in/rajkumar-a-a6b004299">LinkedIn</a> to stay in the loop.</p>
<br>
<%- include("partials/footer") -%>
