<%- include("partials/header") %>

<div class="container-fluid">
  <h1>Oops!!</h1>
  <p> Your requested post <%= contentFailed %> is not found on our web page.</p>
</div>

<%- include("partials/footer") %>
